run = "npm install && node setup-database.js && npm start"
entrypoint = "backend/server.js"

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "npm install && node setup-database.js && npm start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80
